<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care Workco</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

      <script src="http://momentjs.com/downloads/moment.min.js"> </script>
  <title>HcvApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui sticky cont">
    <div class="conlogo">
          <%=  image_tag("logohcw.png") %>
        <div class="menumovil">
            <i class="big grid layout icon" id="menuCel" style="color: #675dc5"></i>
        </div>
    </div>

    <div class="conmenu">
        <div class="ui inverted segment">
            <div class="ui inverted secondary pointing menu">
                <a href="" class="item" id="inicio">
                  Inicio
                </a>
                <a href="" class="item " id="quienes">
                  Quienes Somos
                </a>
                <div id="menuServHover">
                    <a href="#" class="item " id="servicios">
                      Servicios
                    </a>
                    <div id="menuServicios">
                           <a href="" class="item " >Promocion y Prevencion</a>
                           <a href="" class="item " >Salud Ocupacional</a>
                           <a href="" class="item " >Medicina Laboral</a>
                    </div>
                </div>
                <a href="" class="item " id="red">
                  Red Nacional
                </a>
                <a class="item" id="contacto">
                  Contacto
                </a>
             </div>
        </div>
    </div>

    <div class="login">
 <%=  image_tag("login.png", width: "100") %></td>
        
    </div>
</div>


<%= yield %>

<div class="ui basic modal">
    <div class="circuloContacto">
        <i class="close icon" ></i>
        <div class="contenedorFormulario">

            <div class="ui form" style="margin-bottom: 2%;">
              <div class="field">
                <label style="color: #fff">Nombre Apellido</label>
                <input type="text">
              </div>
            </div>

            <div class="ui equal width form">
              <div class="fields">
                <div class="field">
                  <label style="color: #fff">Correo</label>
                  <input type="email">
                </div>
                <div class="field">
                  <label style="color: #fff">Telefono</label>
                  <input type="number">
                </div>
              </div>
            </div>

            <div class="ui form" style="margin-bottom: 3%;">
              <div class="field">
                <label style="color: #fff">Asunto</label>
                <input type="text">
              </div>
            </div>

            <div class="ui form" style="margin-bottom: 5%;">
              <div class="field">
                <label style="color: #fff">Mensaje</label>
                <textarea rows="2"></textarea>
              </div>
            </div>

            <div class="actions">
            <div class="two fluid ui inverted buttons">

              <div class="ui ok green basic inverted button">
                <i class="checkmark icon"></i>
                Enviar
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


  <script>
    

    </script>
</body>
</html>
