<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care Workco</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

      <script src="http://momentjs.com/downloads/moment.min.js"> </script>
  <title>HcvApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui sticky cont">
    <div class="conlogo">
          <%=  image_tag("logohcw.png") %>
       <div class="menumovil">
            <i class="big grid layout icon" id="menuCel" style="color: #675dc5"></i>
        </div>
    </div>

    <div class="conmenu">
        <div class="ui inverted segment">
            <div class="ui inverted secondary pointing menu">
                <a href="<%= index_path %>" class="item" id="inicio">
                  Inicio
                </a>
                <a href="<%= quienes_somos_path %>" class="item " id="quienes">
                  Quienes Somos
                </a>
                <div id="menuServHover">
                    <a href="#" class="item " id="servicios">
                      Servicios
                    </a>
                    <div id="menuServicios">
                           <a href="<%= pyp_path %>" class="item " >Promocion y Prevencion</a>
                           <a href="<%= ocupacional_path %>" class="item " >Salud Ocupacional</a>
                           <a href="<%= laboral_path %>" class="item " >Medicina Laboral</a>
                    </div>
                </div>
                <a href="<%= red_path %>" class="item " id="red">
                  Red Nacional
                </a>
                <a class="item" id="contacto">
                  Contacto
                </a>
             </div>
        </div>
    </div>

    <div class="login">
 <%=  image_tag("login.png", size: "79x30") %></td>
        
    </div>
</div>

<%= yield %>

<div class="ui demo vertical sidebar labeled icon menu pushed left right fixed">
  <a href="<%= index_path %>" class="item" >
    Inicio
  </a>
  <a href="<%= quienes_somos_path %>" class="item">
    Quienes Somos
  </a>
  <a href="<%= pyp_path %>" class="item">
    Promoción y Prevención
  </a>
  <a href="<%= ocupacional_path %>" class="item">
    Salud Ocupacional
  </a>
  <a href="<%= laboral_path %>" class="item">
    Medicina Laboral
  </a>
  <a href="<%= red_path %>" class="item">
    Red Nacional
  </a>
</div>


<div class="ui basic modal">
    <div class="circuloContacto">
        <i class="close icon" ></i>
        <div class="contenedorFormulario">

            <div class="ui form" style="margin-bottom: 2%;">
              <div class="field">
                <label style="color: #fff">Nombre Apellido</label>
                <input type="text">
              </div>
            </div>

            <div class="ui equal width form">
              <div class="fields">
                <div class="field">
                  <label style="color: #fff">Correo</label>
                  <input type="email">
                </div>
                <div class="field">
                  <label style="color: #fff">Telefono</label>
                  <input type="number">
                </div>
              </div>
            </div>

            <div class="ui form" style="margin-bottom: 3%;">
              <div class="field">
                <label style="color: #fff">Asunto</label>
                <input type="text">
              </div>
            </div>

            <div class="ui form" style="margin-bottom: 5%;">
              <div class="field">
                <label style="color: #fff">Mensaje</label>
                <textarea rows="2"></textarea>
              </div>
            </div>

            <div class="actions">
            <div class="two fluid ui inverted buttons">

              <div class="ui ok green basic inverted button">
                <i class="checkmark icon"></i>
                Enviar
              </div>
            </div>
          </div>
        </div>
    </div>
    
</div>


    <script>
       $("#menuCel").click(function() {
        
           $('.ui.labeled.icon.sidebar').sidebar('toggle',{transition: 'overlay'});
       });

       $("#contacto").click(function() {
          $('.ui.basic.modal').modal('show');
       });

       $(".close").click(function () {
           $('.ui.basic.modal').modal('hide')
       });

       $('.ui.sticky')
        .sticky();

    </script>


</body>


</html>
