<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @persona.edad %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @persona.genero %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @persona.celular %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @persona.estado_civil %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @persona.fecha_nacimiento %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
