<p id="notice"><%= notice %></p>

<h1>Listing Consultorios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Municipio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultorios.each do |consultorio| %>
      <tr>
        <td><%= consultorio.nombre %></td>
        <td><%= consultorio.direccion %></td>
        <td><%= consultorio.telefono %></td>
        <td><%= consultorio.municipio %></td>
        <td><%= link_to 'Show', consultorio %></td>
        <td><%= link_to 'Edit', edit_consultorio_path(consultorio) %></td>
        <td><%= link_to 'Destroy', consultorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultorio', new_consultorio_path %>
